*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}
html {
  scrollbar-width: auto;
  scrollbar-color: #10cab7 #ebeced;
  scroll-behavior: smooth;
}
body {
  line-height: 1.5;
  min-height: 100vh;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: #ebeced;
}
::-webkit-scrollbar-thumb {
  background-color: #10cab7;
}
::-moz-scrollbar {
  width: 15px;
}
::-moz-scrollbar-track {
  background-color: #ebeced;
}
::-moz-scrollbar-thumb {
  background-color: #10cab7;
}
::-ms-scrollbar {
  width: 15px;
}
::-ms-scrollbar-track {
  background-color: #ebeced;
}
::-ms-scrollbar-thumb {
  background-color: #10cab7;
}
::-o-scrollbar {
  width: 15px;
}
::-o-scrollbar-track {
  background-color: #ebeced;
}
::-o-scrollbar-thumb {
  background-color: #10cab7;
}
button:focus, input:focus, textarea:focus,
button:hover, input:hover, textarea:hover,
button, input, textarea {
  outline: none;
} 
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: bold;
}